<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="WebSvcSettings" value="Settings.xml" />
    <add key="DEBUG" value="1" />
    <add key="SAVEXML" value="0" />
  </appSettings>
  <connectionStrings>
        <remove name="LocalSqlServer" />
        <add connectionString="Server=MSSQLSERVER;Database=VIS;User ID=sa;Password=admin@123" name="LocalSqlServer" providerName="System.Data.SqlClient" />
    </connectionStrings>
  <system.web>
    <compilation debug="true" defaultLanguage="c#" />
    <!--
      The <authentication> section enables configuration 
      of the security authentication mode used by 
      ASP.NET to identify an incoming user. 
    -->
    <authentication mode="Windows" />
    <!--
       The <customErrors> section enables configuration 
       of what to do if/when an unhandled error occurs 
       during the execution of a request. Specifically, 
       it enables developers to configure html error pages 
       to be displayed in place of a error stack trace.

       <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
    -->
    <pages />
  </system.web>
    <system.webServer>
        <directoryBrowse enabled="false" />
    </system.webServer>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>