<!-- Element inserting guideline-->
<!-- add key="KEY" value="CONTROL TYPE : ID : DISPLAY TEXT: MAXLENGTH"-->

<appSettings>
  <!--Extra Info -->
  <add key="dateButtonIcon" value = "./images/button.gif"/>
  <add key="pdateExpression" value = "(0[1-9]|[12][0-9]|3[01])[/ /.](0[1-9]|1[012])[/ /.](19|20)\d\d" />
  <add key="pdateErrorMsg" value = "Incorrect date format ! (dd/mm/yyyy)" />
  <add key="imgDefaultPath" value="./images/spacer.gif"/>
  <add key="imgSig" value="./images/spacer.gif"/>
  <add key="imgPhoto" value="./images/spacer.gif"/>
  <add key="noImage" value="./images/NoImage2.jpg"/>
  <add key="DEStage" value="6"/>
  <add key="ExternalDEStage" value="4"/>
  <add key="UpdateProfileEntry" value="9"/>
  <add key="UpdateProfileEnroll" value="A"/>
  <add key="DeptID" value="MOF-V"/>

  <!--Server Path-->
  <add key="xmlServerPath" value="\tempFile\"/>
  <add key="logPath" value="\Logs\"/>
  <add key="ImgServerPath" value="\tempImg\"/>

  <!--Document Type-->
  <add key="DIPLOMATIC" value="DP"/>
  <add key="OFFICIAL" value="OF"/>
  <add key="DocWaivedFee" value="DP, OF"/>
	
  <!--App Reason-->
  <add key="EXTERNAL" value="4"/>
  <add key="NEW" value="1"/>
  <add key="ExternalSponsored" value="5"/>
  <add key="ExternalUnSponsored" value="4"/>

  <!--External Sponsored Fee-->
  <add key="ExternalFee" value="20"/>

  <!--User Group-->
  <add key="DataEntry" value="20"/>
  <add key="AcceptanceClerk" value="1000001"/>
  <add key="IrisEngineer" value="6217001"/>

  <!--Insert Info-->
  <add key="Identifier" value="FORMNO"/>
  <add key="IssuePlace" value="NASSAU"/>
  <add key="CountryName" value="BAHAMAS"/>
  <add key="CountryCode" value="BHS"/>
  <add key="NationalityCode" value="BHS"/>
  <add key="Nationality" value="BAHAMIAN"/>
  <add key="BranchName" value="NASSAU"/>
  <add key="Priority" value="2"/>
  
  <!--Permission  Code - EMS -->  
  <add key="GetApplicationIDCode" value="12.23.1"/>
  <add key="PartialEnrolCode" value="12.23.2"/>
  <add key="CompleteEnrol" value="12.23.3"/>
  <add key="QueryByNameCode" value="12.23.17"/>
  <add key="GetDetailsPermissionCode" value="12.23.4"/>
  <add key="ObsoleteDoc" value="12.23.14"/>
  <add key="QueryByName" value="12.23.19"/>
  <add key="DataEntryListCode" value="12.23.16"/>
  <add key="SelectCountry" value="12.23.28"/>
  <add key="SelectBranch" value="12.23.26"/>
  <add key="InsertScanDoc" value="12.106.1"/>
  <add key="SelectScanDoc" value="12.106.2"/>
  <add key="DeleteScanDoc" value="12.106.4"/>
  <add key="SelectScannedDocByFileNo" value="12.103.8"/>
  <add key="SelectScannedDocByImageID" value="12.106.5"/>
  <add key="GetPaymentMethod" value="11.104.7"/>
  <add key="UpdatePayment" value="12.23.5"/>
  <add key="PaymentOverwrite" value="12.23.36"/>
  <add key="RejectIssuance" value="12.23.35"/>
  <add key="Issuance" value="12.23.12"/>
  <add key="ThirdPartyIssuance" value="12.23.13"/>
  <add key="UpdateProfile" value="12.23.32"/>
  <add key="UPEnroll" value="12.23.31"/>
  <add key="QueryByID" value="12.23.15"/>
  <add key="GetActiveDoc" value="12.23.37"/>
  <add key="QueryByBranch" value="12.23.30"/>
  <add key="GetViewProfile" value="12.95.10"/>
  <add key="QueryByPassportNo" value="12.23.38"/>

  <!--Permission  Code - Reporting-->
  <add key="StandardReportViewer" value="11.92.1"/>
  <add key="CustomReportViewer" value="11.92.2"/>
  <add key="ReportBuilder" value="11.92.3"/>

  <!--Permission  Code - DMS-->
  <add key="DMSSearchByName" value="12.41.1"/>
  <add key="DMSSearchMasterLink" value="12.44.2"/>
  <add key="DMSSearchFileProfile" value="12.41.3"/>
  <add key="DMSSearchScannedDoc" value="12.41.4"/>
  <add key="DMSCreateMasterLink" value="12.44.1"/>
  <add key="DMSDeleteFileProfile" value="12.44.9"/>
  <add key="DMSUpdateFileProfile" value="12.44.10"/>
  <add key="DMSDeleteScanDoc" value="12.44.8"/>
  <add key="DMSSearchScannedDocByImageID" value="12.41.5"/>

  <!--Permission  Code - DALMS-->
  <add key="SelectDocType" value="11.99.7"/>
  <add key="SelectAppReason" value="11.97.7"/> 
  <add key="SelectFingerReason" value="11.101.7"/>
  <add key="SelectEntryType" value="11.122.7"/>
  <add key="SelectVisaClass " value="11.125.2"/>
  <add key="SelectScanDocType" value="11.107.7"/>  
  <add key="SelectIncomeCode" value="11.111.7"/>
  <add key="SelectSignatureReason" value="11.105.7"/>
  <add key="SelectVisitPurpose" value="11.124.7"/>
  <add key="SelectResidentialStatus" value="11.123.7"/>
  <add key="ConfigLocation" value="11.127.7"/>
  <add key="SelectBranchList" value="11.115.7"/>

  <!--Approval-->
  <add key="DefaultWeek" value="0" />
  <add key="DefaultMonth" value="1" />
  <add key="DefaultYear" value="0" />
  <add key="PersonWLCheck" value="22.98.2"/>
  <add key="ApproveApp" value="12.23.6" />
  <add key="GetApproval02List" value="12.23.9" />
  <add key="GetApproval01List" value="12.23.8" />
  <add key="GetApprovaHistory" value="12.23.7" />

  <add key="GetVisaClassList" value="11.125.7" />
  <add key="GetRejectReason" value="11.113.7" />
  <add key="GetDocTypeList" value="11.99.7" />
  <add key="GetEntryTypeList" value="11.122.7" />

  <!--StageCode-->
  <add key="1stLevelQuery" value="StageCode LIKE 'EM2000%' or StageCode LIKE 'EM2001%' or StageCode LIKE 'EM4002%'" />
  <add key="2ndLevelQuery" value="StageCode LIKE 'EM3000%' or StageCode LIKE 'EM4102%' or StageCode LIKE 'EM3001%' or StageCode LIKE 'EM2002%' or StageCode LIKE 'EM2003%'" />
  <add key="UpdateAppQuery" value="StageCode LIKE 'EM4101%' or StageCode LIKE 'EM5000%' or StageCode LIKE 'EM5100%'" />
  <add key ="UpdateDEQuery" value="(StageCode Not Like 'PM1000%') AND (StageCode Not Like 'PM2000%') AND (StageCode Not Like 'EM6000%')AND (StageCode Not Like 'EM6002%')AND (StageCode Not Like 'EM7000%')AND (StageCode Not Like 'EM1000%')AND (StageCode Not Like 'EM2000%')AND (StageCode Not Like 'EM2001%')"/>
  <add key ="UpdateEnrollQuery" value="(StageCode Not Like 'PM1000%') AND (StageCode Not Like 'PM2000%') AND (StageCode Not Like 'EM6000%')AND (StageCode Not Like 'EM6002%')AND (StageCode Not Like 'EM7000%')"/>
  <add key ="RenewalQuery" value="StageCode Like 'EM6000%' OR StageCode Like 'EM7000%'"/>
  <add key ="NewEnrollQuery" value="StageCode Like 'EM4101%' OR StageCode Like 'EM6002%'"/>
  <add key ="ExternalQuery" value="(StageCode Like 'EM4101%' OR StageCode Like 'EM5100%') AND (APPREASON Like '4%' OR APPREASON Like '5%')"/>
  
  <!--Image Path-->
  <add key ="NoFaceImgPath" value="./Images/NoImage.JPG"/>
  <add key="NoSignitureImgPath" value="./Images/NoImage2.JPG" />

  <!--Report Path-->
  <add key="ReportPath" value="http://localhost/ReportingSystem/ReportMenu.aspx?" />

  <!--Set Passport Details Visibility - Query Module-->
  <add key ="QPassportTitle" value="false"/>
  <add key ="QPassportNo" value="false"/>
  <add key ="QDateOfIssue" value="false"/>
  <add key ="QDateOfExpiry" value="false"/>
  <add key ="QCountryOfIssue" value="false"/>

  <!--Set Visa Details Visibility - Query Module-->
  <add key ="QVisaTitle" value="false"/>
  <add key ="QVisaNo" value="false"/>
  <add key ="QVisaDateOfIssue" value="false"/>
  <add key ="QVisaDateOfExpiry" value="false"/>
  <add key ="QVisaPlaceOfIssue" value="false"/>

  <!--Set Visa Details Visibility - View Profile (P) Module--> 
  <add key ="PDocNo" value="true"/>
  <add key ="PDocDateOfIssue" value="true"/>
  <add key ="PDocDateOfExpiry" value="true"/>
  <add key ="PDocPlaceOfIssue" value="true"/>

  <!--Set Passport Details Visibility - View Profile (P) Module-->
  <add key ="PPassportTitle" value="true"/>
  <add key ="PPassportNo" value="true"/>
  <add key ="PDate" value="true"/> 
  <add key ="PPlace" value="true"/>

  <!--Set offline Msg Visibility - Collection Slip-->
  <add key ="OfflineMsg" value="false"/>
</appSettings>
