
	<appSettings>
		<add key="CompleteEnrol" value="6"/>
		<add key="UpdateProfileEntry" value="9"/>
		<add key="UpdateProfileEnroll" value="A"/>
		<add key="UpdateProfilePE" value="C"/>
		<add key="xmlServerPath" value="C:\Inetpub\wwwroot\ConfigurationSite\tempFile\"/>

		<add key="SelectEntryType" value="11.122.7"/>
		<add key="InsertEntryType" value="11.122.1"/>
		<add key="UpdateEntryType" value="11.122.3"/>
		<add key="DeleteEntryType" value="11.122.4"/>

		<add key="SelectResidentialStatus" value="11.123.7"/>
		<add key="InsertResidentialStatus" value="11.123.1"/>
		<add key="UpdateResidentialStatus" value="11.123.3"/>
		<add key="DeleteResidentialStatus" value="11.123.4"/>

		<add key="SelectVisitPurpose" value="11.124.7"/>
		<add key="InsertVisitPurpose" value="11.124.1"/>
		<add key="UpdateVisitPurpose" value="11.124.3"/>
		<add key="DeleteVisitPurpose" value="11.124.4"/>

		<add key="SelectVisaClass" value="11.125.7"/>
		<add key="InsertVisaClass" value="11.125.1"/>
		<add key="UpdateVisaClass" value="11.125.3"/>
		<add key="DeleteVisaClass" value="11.125.4"/>

		<add key="SelectFee" value="11.109.7"/>
		<add key="InsertFee" value="11.109.1"/>
		<add key="UpdateFee" value="11.109.3"/>
		<add key="DeleteFee" value="11.109.4"/>


		<add key="SelectBranchWithCountry" value="11.115.5"/>
		<add key="InsertBranch" value="11.115.1"/>
		<add key="UpdateBranch" value="11.115.3"/>
		<add key="DeleteBranch" value="11.115.4"/>

		<add key="DeleteIncomplete" value="11.116.1"/>
		<add key="DeviceTest" value="11.116.2"/>

		<add key="SelectState" value="18.61.7"/>
		
		<add key="DeleteApplication" value="12.23.39"/>

		<add key="imgDefaultPath" value="images/NoImage.jpg"/>

		<add key="ImgServerPath" value="\tempImg\"/>
	</appSettings>
